/*共通*/
body, span, input, select, textarea {
    font-size: 16pt;
}

form {
    margin: 0px;
}
.container-fluid {
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}

div.frame {
    width: auto;
    height: 550px;
    position: relative;
}

div.Commonheader {
    height: 35px;
    margin-bottom: 0px;
}

div.HeaderTitle {
    background-color: lightblue;
    width: auto;
    height: 35px;
}

div.Message {
    padding-left: 10px;
    width: 100%;
}

    div.Message textarea {
        border: solid 1px #808080;
        width: 97%;
    }

div.title {
    position: absolute;
    top: 0px;
    background-color: aqua;
    width: 100%;
    height: 50px;
}

span.titleText {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

/*メニュー画面画面*/
    div.MenuBody {
    padding-top: 20px;
    text-align: center;
    height: 280px;
}

    div.MenuBody input {
        background-color: #eee;
        margin-bottom: 40px;
        width: 300px;
    }

div.switch input {
    margin: 15px;
    width: 50px;
    height: 50px;
}

/*照合画面*/
div.divBody span.cResult {
    border: solid 1px #000000;
    font-size: 24pt;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    width: 70px;
    height: 45px;
    vertical-align: middle;
}

div.divBody input.Button {
    background-color: #eee;
}
.button150 {
    width: 150px;
}
div.divBody div.Message {
    padding-left: 10px;
    width: 100%;
}

    div.divBody div.Message textarea {
        border: solid 1px #808080;
        width: 97%;
    }

td, th {
    padding: 2px;
}

.border-table,
.border-table th,
.border-table td {
    border: solid 1px black;
}